---
    import { type APISpaceXresponse } from "../types/api";
    import CardLaunch from "../components/CardLaunch.astro";
    const res = await fetch("https://api.spacexdata.com/v5/launches/query"
     , {
         method: "POST",
         headers: {
             "Content-Type": "application/json",
         },
         body: JSON.stringify({
             query: {},
             options: {
                 sort: {
                     date_unix: "asc",
                 },
                 limit: 1200,
             },
         }),
     });
    const { docs: launches } = await res.json() as APISpaceXresponse
---

<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
    {
        launches.map((launch) => (
            <CardLaunch 
            id={launch.id}
            img={launch.links.patch.small}
            details={launch.details}
            flightNumber={launch.flight_number}
            success={launch.success}
            />
        ))
    }
</div>
